// colors
$primary-color: #F6D464;
$text-color: #000;
$--80-color: #808080;
$--60-color: #606060;
$white-color: #fff;

// background colors
$white-bg: #fff;
$primary-bg: #F6D464;
$gray-bg: #DFDFDF;

// fonts
$roboto-font: "Roboto", "Arial", sans-serif;
$opensans-font: "Open San", "Arial", sans-serif;
$playfair-font: "Playfair Display SC", "Georgia", serif;