html {
    font-size: 62.5%;
}
body {
    font-family: $opensans-font;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2;
    color: $text-color
}
h1, h2, h3, h4 {
    color: $primary-color;
    font-family: $playfair-font;
}
a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
ul, ol {
    list-style: none;
}
